.commit-graph-loader {
    text-align: center;
    color: #777;
}

.commit-graph-loader h1 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

#commit-graph-table-wrapper {
    width: 100%;
    overflow: hidden;
}

#commit-graph-table {
    font-size: 12px;
    line-height: 1;
}

#commit-graph-table td, #commit-graph-table th {
    white-space: nowrap;
    padding: 3px 7px !important;
}

#commit-graph {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    overflow: hidden;
    padding-top: 19px;
}

.commit-container {
    position: relative;
}

.commit-date {
    width: 100px;
    overflow: hidden;
    vertical-align: bottom;
}

.changesetid {
    font-family: monospace;
}

.commit-message {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    border-top: 0 !important;
}

.commit-message a {
    color: #333 !important;
}

.commiter-initials {
    color: #FFF;
    text-align: center;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.commits-table tr.merge td {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.commits-table .changesetid + .merge-lozenge {
    margin-left: 5px;
}

.commits-table td.author {
	text-align: center !important;
}
.commits-table td.author .user-avatar {
	margin-right: 0;
}

.commits-table .message {
	max-width: 250px;
}

.commits-table .message > span {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.commits-table td.author, .commits-table .changeset, .commits-table .commit-date {
	width: 1%;
}

.commits-table td.changeset, .commits-table td.message, .commits-table td.commit-date {
	vertical-align: middle;
}
