.commit-graph-loader {
    text-align: center;
    color: #777;
}

.commit-graph-loader h1 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

#commit-graph-table-wrapper {
    width: 100%;
    overflow: hidden;
}

#commit-graph-table {
    font-size: 12px;
    table-layout: fixed;
}

#commit-graph-table td, #commit-graph-table th {
    white-space: nowrap;
    padding: 6px 10px !important;
}

#commit-graph {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    overflow: hidden;
    padding-top: 30px;
}

.commit-container {
    position: relative;
}

.commit-date {
    width: 100px;
    overflow: hidden;
    vertical-align: bottom;
}

.changesetid {
    font-family: monospace;
}

.commit-container .commits-table .commit-message {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    border-top: 0 !important;
    color: #333 !important;
    text-decoration: none !important;
}

.commiter-initials {
    color: #FFF;
    text-align: center;
    width: 25px;
    display: block;
    float: left;
    margin-right: 5px;
}

.commits-table tr.merge td {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.commits-table .changesetid + .merge-lozenge {
    margin-left: 5px;
}
